@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kristi&display=swap");

body {
	background: #E6E6E6;
	color: #4285F4;
	font-family: 'Kalam', cursive, 'Kristi', cursive;
	margin: 0;
	padding: 0;
}

header {
	background-size: 100%;
	background-position: center;
	padding: 20px;
	margin-bottom: none;
	text-align: center;
	margin-top: 15%;
	font-size: 35px;
}
ul {
	list-style: none;
	margin-top: none;
	clear: both;
	text-align: center;
	display: table;
	margin: 0 auto;
	font-size: 25px;
}
ul li {
	float: left;
	margin-right: 10px;
	padding-right: 10px;
}
li:last-child {
	border-right: none;	
}
a:link {
	color: #DB4437;
	text-decoration: none;
}
a:visited {
	color: #55acee;
	text-decoration: none;
}
a:hover {
	color: #0F9D58;
	text-decoration: none;
}
a:active {
	color: #0F9D58;
}
p {
	font-size: 20px;
	text-align: center; 
}

footer {
	margin: none;
	padding: none;
	text-align: center;
}

.button {
	background-color: #DB4437;
	color: #E6E6E6;
	border: none;
	border-radius: 4px;
	padding: 3px 3px
}


@media screen and (max-width: 432px) {
ul li {
	font-size: 20px;
}

}

@media screen and (max-width: 377px) {
ul li {
        font-size: 15px;
}


}

.content {
	margin: 0 auto;
	width: 400px;
}

.form {
    	text-align: center;
    	vertical-align: middle;	

}
