{% extends "base.html" %}

{% block head %}
	<title>Lexsearch - in the search of love and meaning</title>
{% endblock %}

{% block body%}
	<header>
		<span class="logo">LexSearch</span>
	</header>
	<div class="content">
		<div class="form">
		<form action="/" method="POST">
			<input type="text" name="content", id=content>
			<input class="button" type="submit" value="Search">
		</form>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
			<ul class=flashes>
				{% for message in messages %}
					<li>{{ message }}</li>
				{% endfor %}
			</ul>
			{% endif %}
			{% endwith %}
		</div>
	</div>
	<footer>
		<h6>Created by neloduka_sobe</h6>
	</footer>
{% endblock %}
